In [15]:
# DA- Working with Pandas (python)
# Assignment

# 1) Create a series of three different colors

import pandas as pd

colors = ["Red","Green","Black"]

In [3]:
# 2) View the series of different colors

s = pd.Series(colors)
s

0      Red
1    Green
2    Black
dtype: object

In [13]:
# 3) Create a series of three different car types and view it

cars = ["Fortuner","Nexon","Venue"]
s1 = pd.Series(cars)
s1

0    Fortuner
1       Nexon
2       Venue
dtype: object

In [16]:
# 4) Combine the Series of cars and colors into a Data Frame

df = pd.DataFrame({
    'Car': cars,
    'Color': colors
})

print(df)

        Car  Color
0  Fortuner    Red
1     Nexon  Green
2     Venue  Black

In [17]:
# 5) Find the different datatypes of the car data Data Frame

df.dtypes

Car      object
Color    object
dtype: object

In [23]:
# 6) Describe your current car sales Data Frame using describe ()

new_row = pd.Series([100, 120, 80], name='Sales')
df['Sales'] = new_row
df
df.describe()

       Sales
count    3.0
mean   100.0
std     20.0
min     80.0
25%     90.0
50%    100.0
75%    110.0
max    120.0

In [24]:
# 7) Get information about your Data Frame using info ()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     3 non-null      object
 1   Color   3 non-null      object
 2   Sales   3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [30]:
# 8) Create a Series of different numbers and find the mean of them

numbers = [1,2,3,4,5,6,7,8,9,10]
n1 = pd.Series(numbers)
print("mean of different numbers : ",n1.mean())

mean of different numbers :  5.5

In [34]:
# 9) Create a Series of different numbers and find the sum of them

nums = [11,45,68,97,25,36,87]
n2 = pd.Series(nums)
print("sum of different numbers : ",n2.sum())

sum of different numbers :  369

In [35]:
# 10) List out all the column names of the car sales Data Frame

list(df.columns)

['Car', 'Color', 'Sales']

In [37]:
# 11) Find the length of the car sales Data Frame

len(df)

3

In [46]:
# 12) Show the first 5 rows of the car sales Data Frame

df.head()

        Car  Color  Sales
0  Fortuner    Red    100
1     Nexon  Green    120
2     Venue  Black     80

In [39]:
# 13) Show the first 7 rows of the car sales Data Frame

df.head(7)

        Car  Color  Sales
0  Fortuner    Red    100
1     Nexon  Green    120
2     Venue  Black     80

In [41]:
# 14) Show the bottom 5 rows of the car sales Data Frame

df.tail()

        Car  Color  Sales
0  Fortuner    Red    100
1     Nexon  Green    120
2     Venue  Black     80

In [44]:
# 15) Use. loc to select the row at index 3 of the car sales Data Frame

df.loc[[2]]

     Car  Color  Sales
2  Venue  Black     80

In [45]:
# 16) Use. iloc to select the row at position 3 of the car sales Data Frame

df.iloc[[2]]

     Car  Color  Sales
2  Venue  Black     80

In [47]:
# 17) Create a crosstab of the Make and Doors columns.

car_sales = pd.DataFrame({
    'Make': ['Toyota', 'BMW', 'Toyota', 'Ford', 'BMW'],
    'Doors': [4, 2, 4, 4, 2]
})

pd.crosstab(car_sales['Make'], car_sales['Doors'])

Doors   2  4
Make
BMW     2  0
Ford    0  1
Toyota  0  2